<header class="header">
    <h1>Aly Dous'heure</h1>
    <p class="subtitle">Salon de massages & bien-être</p>
</header>

<section class="hero-banner">
    <div class="overlay">
        <h2><i class="fas fa-leaf"></i> Prestations</h2>

        <div class="cta-buttons">
            <a [routerLink]="['/prestations']" class="cta"><i class="fas fa-spa"></i> Massages</a>
            <a href="/corps" class="cta"><i class="fas fa-hand-holding-water"></i> Soins du corps</a>
            <a href="/ayurvediques" class="cta"><i class="fas fa-om"></i> Ayurvédiques</a>
        </div>
    </div>
</section>

<main class="container">
    <section class="card">
        <div class="tel">
            <h2><i class="fas fa-phone"></i> Contact</h2>
            <p style="margin: 0;">+596 696 89 33 70</p>
        </div>
        <a class="button" href="tel:+596696893370" aria-label="Appeler Aly Dous'heure">
            <i class="fa-regular fa-message"></i> J'appelle
        </a>
        <a class="button whatsapp" href="https://wa.me/596696893370" target="_blank">
            <i class="fab fa-whatsapp"></i> J'envoie un message
        </a>
        <a class="button secondary" href="https://www.instagram.com/aly_dous_heure/" target="_blank">
            <i class="fa-brands fa-instagram"></i> Instagram
        </a>
    </section>

    <section class="card">
        <h2><i class="fas fa-map-marker-alt"></i> Adresse</h2>
        <p>
            21, Rue des goyaviers<br />
            Zac Moulin à vent<br />
            Le Robert 97231, Martinique
        </p>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11779.724479270333!2d-60.95762468553166!3d14.680416300048803!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c6a99e574b9d8ed%3A0xc7813acb0551eb8c!2sAly%20Dous'heure!5e1!3m2!1sfr!2sfr!4v1753567501947!5m2!1sfr!2sfr"
            width="100%" height="200" style="border:0; border-radius: 8px; margin-top: 1rem;" allowfullscreen
            loading="lazy" referrerpolicy="no-referrer-when-downgrade"
            title="Carte de localisation Aly Dous'heure"></iframe>
        <a class="button secondary" href="https://maps.app.goo.gl/hsYAkKzEA263ts1K7" target="_blank">
            <i class="fa-solid fa-car-side"></i> J'y vais
        </a>
    </section>

    <section class="card">
        <h2><i class="fas fa-clock"></i> Horaires</h2>
        <p><em>Sur rendez-vous uniquement</em></p>

        <table class="schedule-table">
            <tbody>
                <tr>
                    <td>Lundi – Vendredi</td>
                    <td>9h00 – 18h00</td>
                </tr>
                <tr>
                    <td>Samedi</td>
                    <td>10h00 – 16h00</td>
                </tr>
                <tr>
                    <td>Dimanche</td>
                    <td>Fermé</td>
                </tr>
            </tbody>
        </table>
    </section>
</main>