<section class="massages-section">
    <h2 class="section-title">Massages proposés</h2>
    <div class="massages-grid">
        <div class="massage-card" *ngFor="let massage of prestations">
            <!-- <img [src]="massage.image" [alt]="massage.title" class="massage-img" /> -->
            <div class="massage-content">
                <h3>{{ massage.title }}</h3>
                <p class="massage-duration">{{ massage.duration }}</p>
                <p class="massage-description" [innerHTML]="massage.description"></p>
                <p class="massage-price">{{ massage.price }}</p>
                <a class="massage-contact" [routerLink]="['/prestations', massage.id]">
                    Je prends rendez-vous
                </a>
            </div>
        </div>
    </div>
</section>